# Data
csv_data/*
logs/*
*.csv
*.pptx
*.pdf
*.log
LLM_context_*.txt

# Python
__pycache__/*
*.pyc
*.pyo

# Environment
flashenv/*
venv/*
env/*
*.env

# Exceptions
!/csv_data/.gitkeep
!/logs/.gitkeep


